# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.ipynb_checkpoints/

# Dataset (NO subir al repo, según instrucciones del proyecto)
data/train/
data/test/
*.zip

# Modelos entrenados pesados (subirlos aparte si es necesario)
models/*.pt
models/*.pth

# IDE / Editor
.vscode/
.idea/
*.swp
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs y temporales
*.log
*.tmp
